/******************************************************************
                        Common styles 
*******************************************************************/
html {
  --default-text: #000000;
  --contrast-text: #ffffff;
  --dark-grey-text: #212121;
  --light-grey-text: #757575;
  --footer-text: rgba(255, 255, 255, 0.6);
  --active-link-color: #2196f3;
  --dark-grey-background: #2f303a;
  --light-grey-background: #f5f4fa;

  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--default-text);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  margin: 0;
  padding: 94px 0;

  text-align: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Logo styling */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo > .web {
  color: var(--active-link-color);
}
.logo > .studio {
  color: var(--default-text);
}
.logo > .studio-c {
  color: var(--contrast-text);
}

/* Header styles */

.main-header > .container {
  display: flex;
  /* min-height: 80px; */
  align-items: center;
}

.main-header {
  border-bottom: 1px solid #ECECEC;
}

.header-nav {
  margin-left: 93px;
}

.header-nav-links {
  display: flex;
}

.header-nav-link:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link > a {
  display: inline-block;
  padding: 32px 0px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-nav-link > a/*,
.header-nav-link > a.selected:hover,
.header-nav-link > a.selected:focus */ {
  color: var(--dark-grey-text);
}

.header-nav-link > a:hover,
.header-nav-link > a:focus,
.header-nav-link > a.selected {
  color: var(--active-link-color);
}

.header-addresses {
  margin-left: auto;
}

.header-addresses > a:not(:last-child) {
  margin-right: 50px;
}

.header-addresses > a {
  display: inline-block;
  padding: 20px 0;

  color: var(--light-grey-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-addresses > a:hover,
.header-addresses > a:focus {
  color: var(--active-link-color);
}

/* Footer styles */

.footer {
  /* min-height: 252px; */
  padding: 60px 0;
  background-color: var(--dark-grey-background); 
}

.footer-text {
  display: block;
  margin-top: 20px;
  margin-bottom: 0;

  color: var(--contrast-text);
  font-style: normal; /* сброс user-agent стилей для тега address */
  line-height: 1.71;
}

.footer-link {
  display: block;
  margin-top: 9px;
  margin-bottom: 0;

  color: var(--footer-text);
  line-height: 1.71;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:active {
  color: var(--active-link-color);
}

/******************************************************************
                Index - Main section styles 
*******************************************************************/

/* Top banner styles */
.top-banner {
  padding: 200px 0;
  margin-top: 0px;
  background-color: var(--dark-grey-background);
  text-align: center;
}

.top-banner-text {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  color: var(--contrast-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
}

.top-banner-button {
  background-color: var(--active-link-color);
  color: var(--contrast-text);
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  align-self: center;
  padding: 10px 32px;

  cursor: pointer;
}

/* Our advantages section styles */

.section.advantages {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
}

.advantages-list > .item {
  width: 270px;

  text-align: left;
}

.advantages-list > .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-item-header {
  margin: 0;

  color: var(--dark-grey-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-item-text {
  margin: 10px 0 0 0;

  color: var(--light-grey-text);
  line-height: 1.71;
}

/* What we do section styles */

.section-header {
  margin: 0 0 50px;

  color: var(--dark-grey-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}

.what-we-do-list {
  display: flex;
  margin: 0 -15px;
  font-size: 0;
}

.what-we-do-list > .item {
  margin: 0 15px;
}

/* Our team section styles */

.our-team {
  background-color: var(--light-grey-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list > .item {
  padding-bottom: 30px;
  width: 270px;

  background-color: var(--contrast-text);
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list > .item:not(:last-child) {
  margin-right: 30px;
}

.team-member-name {
  margin: 30px 0 10px;

  color: var(--dark-grey-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.team-member-position {
  margin: 0;
  color: var(--light-grey-text);
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/******************************************************************
                Portfolio - Main section styles 
*******************************************************************/

.portfolio-list-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  padding-top: 0;
  padding-bottom: 50px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-filter-list > .item:not(:last-child) {
margin-right: 8px;
}

.portfolio-filter-button {
  padding: 6px 22px;

  background: var(--light-grey-background);
  color: var(--dark-grey-text);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  border: none;
  border-radius: 4px;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:active {
  background: var(--active-link-color);
  color: var(--contrast-text);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;

  list-style: none;
}

.portfolio-list > .item {
  margin: 15px;

  font-size: 0;
  background-color: var(--contrast-text);
}

.portfolio-list > .item > .description {
  padding: 0 0 20px;

  border: 1px solid #eeeeee;
}

.portfolio-list > .item .project-title {
  margin: 20px 24px 4px;

  color: var(--dark-grey-text);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list > .item .project-type {
  margin: 0 24px;

  color: var(--light-grey-text);

  font-size: 16px;
  line-height: 1.88;
}
